body{
    color:#666;
    background-color: #f0f0f0;
    font-family: 'IBM Plex Mono', monospace;
}

.container{
    width: 800px;
    min-height: 600px;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border: solid 1px #ccc;
}

.center{
    text-align: center;
}

.form input{
    width: 80%;
    padding: 6px;
}

.footer{
    font-size: 14px;
    color: coral;
    
}